.box:after
{
	content: ".";
	visibility: hidden;
}


.box{
	height:300px;
  width:154px;
  border:2px solid black;
  margin: 2px;
}

.dates{
	height:30px;
  width:150px;
  text-align:center;
  background-color:pink;
  color:black;
}

.calender{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin:5px;
}

.parts{
	padding: 10px;
	border:1px solid black;
}

.bottombox{
	margin:0 auto;
}